<h1>Listing det_compras</h1>

<table>
  <thead>
    <tr>
      <th>Producto</th>
      <th>Compra</th>
      <th>Precio</th>
      <th>Catidad</th>
      <th>Num bol fac</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @det_compras.each do |det_compra| %>
      <tr>
        <td><%= det_compra.producto %></td>
        <td><%= det_compra.compra %></td>
        <td><%= det_compra.precio %></td>
        <td><%= det_compra.catidad %></td>
        <td><%= det_compra.num_bol_fac %></td>
        <td><%= link_to 'Show', det_compra %></td>
        <td><%= link_to 'Edit', edit_det_compra_path(det_compra) %></td>
        <td><%= link_to 'Destroy', det_compra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Det compra', new_det_compra_path %>
