<%= form_for(@unidad_medida) do |f| %>
  <% if @unidad_medida.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unidad_medida.errors.count, "error") %> prohibited this unidad_medida from being saved:</h2>

      <ul>
      <% @unidad_medida.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :abreviatura %><br>
    <%= f.text_field :abreviatura %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
