<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @fisi.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @fisi.descripcion %>
</p>

<%= link_to 'Edit', edit_fisi_path(@fisi) %> |
<%= link_to 'Back', fisis_path %>
