<p id="notice"><%= notice %></p>

<p>
  <strong>Partida:</strong>
  <%= @item.partida %>
</p>

<p>
  <strong>Unidad medida:</strong>
  <%= @item.unidad_medida %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @item.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @item.nombre %>
</p>

<p>
  <strong>Unidad medida:</strong>
  <%= @item.unidad_medida %>
</p>

<p>
  <strong>Foto file name:</strong>
  <%= @item.foto_file_name %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
