<%= form_for(@inventario_detalle) do |f| %>
  <% if @inventario_detalle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventario_detalle.errors.count, "error") %> prohibited this inventario_detalle from being saved:</h2>

      <ul>
      <% @inventario_detalle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :inventario_id %><br>
    <%= f.text_field :inventario_id %>
  </div>
  <div class="field">
    <%= f.label :item_id %><br>
    <%= f.text_field :item_id %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.text_field :cantidad %>
  </div>
  <div class="field">
    <%= f.label :precio_unitario %><br>
    <%= f.text_field :precio_unitario %>
  </div>
  <div class="field">
    <%= f.label :activo %><br>
    <%= f.check_box :activo %>
  </div>
  <div class="field">
    <%= f.label :fecha_vencimiento %><br>
    <%= f.date_select :fecha_vencimiento %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
